@import "../mixins";
@import "../variables";

.header{
  background-color: #27262A;

  &__flex-wrapper{
    @include flex-between;
  }

  &__content{
    @include flex-between;
    position: relative;
    padding: 29px 40px 30px;
  }

  &__btn{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 19px;
  background-color: #8d81ac;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  width: 140px;
  margin-right: 15px;
  }

  &__logo:hover .logo-logo-img{
  background-color: white;
  }

  &__logo:hover .logo-text {
  color: white;
  }

  &__btn:hover {
  background-color: white;
  color: #8d81ac;
  }
}
.header__burger-menu{
  display:none;
}

.logo {
  @include flex-center;

  &-logo-img {
    display: inline-block;
    width: 43px;
    height: 41px;
    background: url("../img/Main-logo.svg") no-repeat;
  }

  &-text {
    color: #8d81ac;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 17px;
    text-decoration: none;
    font-family: $lBold;
  }
}

.main__menu {
  @include flex-between;
  position: relative;
  width: 85%;

  &__item a {
  color: #8d81ac;
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  font-family: $mBold;
  text-align: left;
  }
  &__item{
  margin-right: 36px;
  }
  &__item a:hover{
    color: #fff;
  }
}